body { background: #49896a; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 35px; display: flex; }
.block-sms-0 { color: #7c188b; font-size: 20px; margin-bottom: 5px; }
.block-filter-1 { color: #1c1660; font-size: 12px; margin-bottom: 5px; }
.block-payment-2 { color: #cf36a0; font-size: 21px; margin-bottom: 5px; }
.block-router-3 { color: #1d25ce; font-size: 17px; margin-bottom: 5px; }
.block-product-4 { color: #96daa7; font-size: 18px; margin-bottom: 5px; }
.block-cache-5 { color: #cbf987; font-size: 15px; margin-bottom: 5px; }
.block-auth-6 { color: #f7a6de; font-size: 15px; margin-bottom: 5px; }
.block-search-7 { color: #a27ba5; font-size: 17px; margin-bottom: 5px; }
.block-uploader-8 { color: #c9558c; font-size: 14px; margin-bottom: 5px; }
.block-cart-9 { color: #18b0cf; font-size: 18px; margin-bottom: 5px; }